/*common rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.row_header {
    display: flex;
    justify-content: space-between;
}

.row_prefooter {
    display: flex;
}

.row_footer {
    display: flex;
    justify-content: space-between;
}

.debug [class^="col_"] {
    background-color: #DAA520;
}

/* #region colonne */
.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_5 {
    width: calc((100% / 12) * 5);
}

.col_6 {
    width: calc((100% / 12) * 6);
}

.col_7 {
    width: calc((100% / 12) * 7);
}

.col_8 {
    width: calc((100% / 12) * 8);
}

.col_9 {
    width: calc((100% / 12) * 9);
}
/* #endregion colonne */

header {
    background-color: #ADD8E6;
}

section {
    padding: 1rem;
}

.blue {
    padding: 1rem;
    background-color: #00008B;
    height: 300px;
}

.violet {
    background-color: #EE82EE;
    height: 270px;
    width: 750px;
}

.grey {
    background-color: #D3D3D3;
}

.foot_grey {
    padding: 1rem;
    background-color: #D3D3D3;
    height: 500px;
}

.green {
    background-color: #228B22;
    height: 470px;
}